{% extends "core/base.html" %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'core/js/multiclass.js' %}?v=1.0.7"></script>
{% endblock %}

{% block content %}
{% load custom_filters %}
{% if not deck.is_named %}
    <h1>{{ title }}</h1>
{% endif %}

{% if deckstring_form %}
<form action="{% url 'decks:index' %}" method="post">
    {% csrf_token %}
    <div class="form-error">{{ deckstring_form.non_field_errors }}</div>
    <p>{{ deckstring_form.deckstring }}</p>
    <div class="form-error">{{ deckstring_form.deckstring.errors }}</div>
    <span>
        <button type="submit" class="form-button">Расшифровать</button>
        <button type="button" class="form-button" onclick="clearDeckstringField()">Очистить</button>
        <button type="button" class="form-button">Случайная колода</button>
    </span>
</form>
{% endif %}

{% if deck %}
<div class="decks-grid">
    <div class="">
    <table class="deck {{ deck|dformat }}">
        <tbody class="deck-header {{ deck|dclass }}">
        <tr>
            <td colspan="3" class="deck-name">
                <span class="deck-name-text">{% if deck.is_named %}{{ deck.name }}{% else %}{{ deck.deck_class }}-{{ deck.pk }}{% endif %}</span>
                <br>
                <span class="deck-caption">{{ deck.deck_class }}, {{ deck.deck_format }}, {{ deck.created|date:"d.m.Y" }}</span>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="deck-control">
            {% if deck.is_named %}
                <span id="deckControlButtons">
                    <button type="button" id="deckRenameButton" onclick="showDeckRenameForm()">
                        <span class="deck-control-icon" title="Переименовать колоду">
                            <i class="far fa-edit"></i>
                        </span>
                    </button>
                    <button type="button" id="deckDeleteButton" onclick="showDeckDeleteForm()">
                        <span class="deck-control-icon" title="Удалить колоду">
                            <i class="far fa-trash-alt"></i>
                        </span>
                    </button>
                    <span class="mytooltip">
                      <button type="button" onclick="copyToClipboard()" onmouseover="tooltipFunc()">
                        <span class="tooltiptext" id="copyTooltip">Copy to clipboard!!!!</span>
                        <span class="deck-control-icon"><i class="far fa-copy"></i></span>
                      </button>
                    </span>
                </span>
                <form method="post">{% csrf_token %}
                    <span id="deckRenameForm" class="" style="display: none;">
                        {{ deck_save_form.deck_name }}
                        {{ deck_save_form.string_to_save }}
                        <button type="submit">
                            <span class="deck-control-icon" title="Принять новое название">
                                <i class="far fa-check-square"></i>
                            </span>
                        </button>
                        <button type="button" id="deckRenameCancel" onclick="hideDeckRenameForm()">
                            <span class="deck-control-icon" title="Назад">
                                <i class="far fa-window-close"></i>
                            </span>
                        </button>
                    </span>
                </form>
                <form action="{% url 'decks:deck-delete' deck_id=deck.pk %}" method="post">{% csrf_token %}
                    <span id="deckDeleteForm" class="" style="display: none;">
                        <button class="" type="submit">
                            <span class="deck-control-icon" title="Подтвердить удаление">
                                <i class="far fa-trash-alt"></i>
                            </span>
                        </button>
                        <button type="button" id="deckDeleteCancel" onclick="hideDeckDeleteForm()">
                            <span class="deck-control-icon" title="Отмена">
                                <i class="far fa-window-close"></i>
                            </span>
                        </button>
                    </span>
                </form>
            {% else %}
                <form method="post">{% csrf_token %}
                <span id="deckControlButtons2" class="">
                    {% if request.user.is_authenticated %}
                    <button type="button" id="deckSaveButton" onclick="showDeckSaveForm()">
                        <span class="deck-control-icon" title="Сохранить себе">
                            <i class="far fa-save"></i>
                        </span>
                    </button>
                    {% else %}
                    <button type="button" class="disabled">
                        <span class="deck-control-icon" title="Авторизуйтесь, чтобы сохранить себе">
                            <i class="far fa-save"></i>
                        </span>
                    </button>
                    {% endif %}
                    <span class="mytooltip">
                      <button type="button" onclick="copyToClipboard()" onmouseover="tooltipFunc()">
                        <span class="tooltiptext" id="copyTooltip">Copy to clipboard</span>
                        <span class="deck-control-icon"><i class="far fa-copy"></i></span>
                      </button>
                    </span>
                </span>
                <span id="deckSaveForm" style="display: none;" class="">
                    {{ deck_save_form.deck_name }}
                    {{ deck_save_form.string_to_save }}
                    <button type="submit">
                        <span class="deck-control-icon" title="Сохранить с этим названием">
                            <i class="far fa-check-square"></i>
                        </span>
                    </button>
                    <button type="button" id="deckSaveCancel" onclick="hideDeckSaveForm()">
                        <span class="deck-control-icon" title="Отмена">
                            <i class="far fa-window-close"></i>
                        </span>
                    </button>
                </span>
                </form>
            {% endif %}
            </td>
        </tr>
        </tbody>
        <tbody class="deck-cards">
        {% for card, number in deck.included_cards %}
        <tr class="{{ card|cclass }} {{ card|rar }} rartext">
            <td class="deck-number-cell" style="width:10%;"><a href="{{ card.get_absolute_url }}">{{ card.cost }}</a></td>
            <td class="deck-card-cell" style="width:80%;"><a href="{{ card.get_absolute_url }}">{{ card.name }}</a></td>
            <td class="deck-number-cell" style="width:10%;"><a href="{{ card.get_absolute_url }}">{{ number }}x</a></td>
        </tr>
        {% endfor %}
        </tbody>
        <tbody class="deck-footer {{ deck|dclass }}">
        <tr>
        {% with prices=deck.included_cards|craft_cost %}
            <td colspan="3">Крафт: {{ prices.0 }} | {{ prices.1 }} (голд)</td>
        {% endwith %}
        </tr>
        </tbody>
    </table>
    </div>
    <div>
        <div class="deck-info-item">
            <h4>Типы</h4>
            <ol>
                {% for ctype in deck.included_cards|dtypestat %}
                    <li>{{ ctype.name.label }}: {{ ctype.num_cards }}</li>
                {% empty %}
                    <li>Нет данных</li>
                {% endfor %}
            </ol>
        </div>
        <div class="deck-info-item">
            <h4>Редкости</h4>
            <ol>
                {% for rar in deck.included_cards|draritystat %}
                    <li>{{ rar.name.label }}: {{ rar.num_cards }}</li>
                {% empty %}
                    <li>Нет данных</li>
                {% endfor %}
            </ol>
        </div>
        <div class="deck-info-item">
            <h4>Наборы</h4>
            <ol>
                {% for set in deck.included_cards|dsetsstat %}
                    <li>{{ set.name }} ({{ set.num_cards }})</li>
                {% empty %}
                    <li>Нет данных</li>
                {% endfor %}
            </ol>
        </div>
        <div class="deck-info-item">
            <h4>Механики</h4>
            <ol>
                {% for mech in deck.included_cards|dmechstat %}
                    <li>{{ mech.name }} ({{ mech.num_cards }})</li>
                {% empty %}
                    <li>Нет данных</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% else %}
<div style="padding: 200px 0;"></div>
{% endif %}

{% endblock %}



