{% extends "core/base.html" %}
{% load custom_filters %}
{% load decks %}
{% block title %}{{ title|mktitle }}{% endblock %}
{% load i18n %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'core/js/multiclass.js' %}?v=1.0.7"></script>
    <script src="{% static 'core/js/rnd_deckstring.js' %}?v=1.0.0"></script>
    <script src="{% static 'core/js/deck_list.js' %}?v=1.0.11"></script>
{% endblock %}

{% block content %}
{% if not deck.is_named %}
    <h1>{{ title }}</h1>
{% endif %}

{% if deckstring_form %}
<form action="{% url 'decks:index' %}" method="post">
    {% csrf_token %}
    <div class="form-error">{{ deckstring_form.non_field_errors }}</div>
    <p>{{ deckstring_form.deckstring }}</p>
    <div class="form-error">{{ deckstring_form.deckstring.errors }}</div>
    <span>
        <button type="submit" class="form-button">
            <span class="button-icon"><i class="far fa-check-circle"></i></span>
            <span class="button-text">{% trans "Decode" %}</span>
        </button>
        <button type="button" class="form-button" id="getRandomDeckstring">
            <span class="button-icon"><i class="far fa-question-circle"></i></span>
            <span class="button-text">{% trans "Random deck" %}</span>
        </button>
        <button type="button" class="form-button" onclick="clearDeckstringField()">
            <span class="button-icon"><i class="far fa-times-circle"></i></span>
            <span class="button-text">{% trans "Clear" %}</span>
        </button>
    </span>
</form>
{% endif %}

{% if deck %}
<div class="decks-grid">
    <div class="">
    <table class="deck {{ deck|dformat }}">
        <tbody class="deck-header {{ deck|dclass }}">
        <tr>
            <td colspan="3" class="deck-name">
                <span class="deck-name-text">{% if deck.is_named %}{{ deck.name }}{% else %}{{ deck|shortclassname }}-{{ deck.pk }}{% endif %}</span>
                <br>
                <span class="deck-caption">{{ deck|shortclassname }}, {{ deck.deck_format }}, {{ deck.created|date:"d.m.Y" }}</span>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="deck-control">
            {% if deck.is_named %}
                <span id="deckControlButtons">
                    <button type="button" id="deckRenameButton" onclick="showDeckRenameForm()">
                        <span class="deck-control-icon" title="{% trans 'Rename the deck' %}">
                            <i class="far fa-edit"></i>
                        </span>
                    </button>
                    <button type="button" id="deckDeleteButton" onclick="showDeckDeleteForm()">
                        <span class="deck-control-icon" title="{% trans 'Remove the deck' %}">
                            <i class="far fa-trash-alt"></i>
                        </span>
                    </button>
                    <span class="mytooltip">
                      <button type="button" onclick="copyToClipboard()" onmouseover="tooltipFunc()">
                        <span class="tooltiptext" id="copyTooltip">Copy to clipboard</span>
                        <span class="deck-control-icon"><i class="far fa-copy"></i></span>
                      </button>
                    </span>
                </span>
                <form method="post">{% csrf_token %}
                    <span id="deckRenameForm" class="" style="display: none;">
                        {{ deck_save_form.deck_name }}
                        {{ deck_save_form.string_to_save }}
                        <button type="submit">
                            <span class="deck-control-icon" title="{% trans 'Accept the new name' %}">
                                <i class="far fa-check-square"></i>
                            </span>
                        </button>
                        <button type="button" id="deckRenameCancel" onclick="hideDeckRenameForm()">
                            <span class="deck-control-icon" title="{% trans 'Back' %}">
                                <i class="far fa-window-close"></i>
                            </span>
                        </button>
                    </span>
                </form>
                <form action="{% url 'decks:deck-delete' deck_id=deck.pk %}" method="post">{% csrf_token %}
                    <span id="deckDeleteForm" class="" style="display: none;">
                        <button class="" type="submit">
                            <span class="deck-control-icon" title="{% trans 'Confirm deletion' %}">
                                <i class="far fa-trash-alt"></i>
                            </span>
                        </button>
                        <button type="button" id="deckDeleteCancel" onclick="hideDeckDeleteForm()">
                            <span class="deck-control-icon" title="{% trans 'Cancel' %}">
                                <i class="far fa-window-close"></i>
                            </span>
                        </button>
                    </span>
                </form>
            {% else %}
                <form method="post">{% csrf_token %}
                <span id="deckControlButtons2" class="">
                    {% if request.user.is_authenticated %}
                    <button type="button" id="deckSaveButton" onclick="showDeckSaveForm()">
                        <span class="deck-control-icon" title="{% trans 'Save the deck' %}">
                            <i class="far fa-save"></i>
                        </span>
                    </button>
                    {% else %}
                    <button type="button" class="disabled">
                        <span class="deck-control-icon" title="{% trans 'Log in to save the deck' %}">
                            <i class="far fa-save"></i>
                        </span>
                    </button>
                    {% endif %}
                    <span class="mytooltip">
                      <button type="button" onclick="copyToClipboard()" onmouseover="tooltipFunc()">
                        <span class="tooltiptext" id="copyTooltip">Copy to clipboard</span>
                        <span class="deck-control-icon"><i class="far fa-copy"></i></span>
                      </button>
                    </span>
                </span>
                <span id="deckSaveForm" style="display: none;" class="">
                    {{ deck_save_form.deck_name }}
                    {{ deck_save_form.string_to_save }}
                    <button type="submit">
                        <span class="deck-control-icon" title="{% trans 'Save with this name' %}">
                            <i class="far fa-check-square"></i>
                        </span>
                    </button>
                    <button type="button" id="deckSaveCancel" onclick="hideDeckSaveForm()">
                        <span class="deck-control-icon" title="{% trans 'Cancel' %}">
                            <i class="far fa-window-close"></i>
                        </span>
                    </button>
                </span>
                </form>
            {% endif %}
            <form>
                <span id="deckstringToCopy" style="display: none;">
                    {{ deck.get_deckstring_form.deckstring }}
                    <button type="button">
                        <span class="deck-control-icon" title="{% trans 'Back' %}">
                            <i class="far fa-window-close"></i>
                        </span>
                    </button>
                </span>
            </form>
            </td>
        </tr>
        </tbody>
        <tbody class="deck-cards">
        {% for card in deck.included_cards %}
        <tr class="{{ card|cclass }} {{ card|rar }} rartext">
            <td class="deck-number-cell" style=""><a href="{{ card.get_absolute_url }}">{{ card.cost }}</a></td>
            <td class="deck-card-cell" style="background: no-repeat 110% 30%/90% url({{ card.thumbnail.url }});">
                <a href="{{ card.get_absolute_url }}">
                    {{ card.name|truncatechars:23 }}
                    <span><img src="{{ card.image_en.url }}"></span>
                </a>
            </td>
            <td class="deck-number-cell" style="width:10%;"><a href="{{ card.get_absolute_url }}">{% if card.rarity == 'L' %}&#9733;{% else %}{{ card.number }}x{% endif %}</a></td>
        </tr>
        {% endfor %}
        </tbody>
        <tbody class="deck-footer {{ deck|dclass }}">
        <tr>
        {% with prices=deck.included_cards|craft_cost %}
            <td colspan="3">{% trans 'Craft' %}: {{ prices.0 }} | {{ prices.1 }} ({% trans 'gold' %})</td>
        {% endwith %}
        </tr>
        </tbody>
    </table>
    </div>
    <div>
        <div class="info-item info-deck">
            <h4>{% trans 'Types' %}</h4>
            <ol>
                {% for ctype in deck.included_cards|dtypestat %}
                    <li>{{ ctype.name.label }}: {{ ctype.num_cards }}</li>
                {% empty %}
                    <li>{% trans 'No data' %}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="info-item info-deck">
            <h4>{% trans 'Rarities' %}</h4>
            <ol>
                {% for rar in deck.included_cards|draritystat %}
                    <li>{{ rar.name.label }}: {{ rar.num_cards }}</li>
                {% empty %}
                    <li>{% trans 'No data' %}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="info-item info-deck">
            <h4>{% trans 'Mechanics' %}</h4>
            <ol>
                {% for mech in deck.included_cards|dmechstat %}
                    <li>{{ mech.name }} ({{ mech.num_cards }})</li>
                {% empty %}
                    <li>{% trans 'No data' %}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div>
        <div class="info-item info-deck">
            <h4>{% trans 'Sets' %}</h4>
            <ol>
                {% for set in deck.included_cards|dsetsstat %}
                    <li>{{ set.name }} ({{ set.num_cards }})</li>
                {% empty %}
                    <li>{% trans 'No data' %}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% if similar %}
<h1>{% trans 'Similar decks' %}</h1>
<div class="decks-grid">
    {% for deck in similar %}
        {% deck_obj deck %}
    {% endfor %}
</div>
{% endif %}
{% else %}
<div style="padding: 200px 0;"></div>
{% endif %}

{% endblock %}



