{% extends "core/base.html" %}
{% block scripts %}
    {% load static %}
    <script src="{% static 'core/js/deck_list.js' %}?v=1.0.4"></script>
    <script src="{% static 'core/js/multiclass.js' %}?v=1.0.7"></script>
{% endblock %}

{% load custom_filters %}
{% block page_title %}<h1>{{ title }}</h1>{% endblock %}

{% block search %}
<form class="form-inline" method="get">
    <div class="row">
        <div class="col">
            <label class="form-label">{{ form.deck_class.label }}</label>
            <p class="form-search">{{ form.deck_class }}</p>
        </div>
        <div class="col">
            <label class="form-label">{{ form.deck_format.label }}</label>
            <p class="form-search">{{ form.deck_format }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="form-button">
                <i class="fas fa-search"></i> Поиск
            </button>
        </div>
    </div>
</form>
<hr>
{% endblock %}

{% block content %}
{% if not is_paginated %}
    <div class="pagination">
        <span class="page-item disabled"><a class="page-link">Всего результатов: {{ decks.count }}</a></span>
    </div>
    <hr>
{% endif %}
<div class="decks-grid">
{% for deck in decks %}
    <div class="">
    <table class="deck {{ deck|dformat }}">
        <tbody class="deck-header {{ deck|dclass }}">
        <tr>
            <td colspan="3" class="deck-name">
                <span class="deck-name-text">{% if deck.is_named %}{{ deck.name }}{% else %}{{ deck.deck_class }}-{{ deck.pk }}{% endif %}</span>
                <br>
                <span class="deck-caption">{{ deck.deck_class }}, {{ deck.deck_format }}, {{ deck.created|date:"d.m.Y" }}</span>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="deck-control">
                <span id="deckControlButtons">
                    <button><a role="button" href="{{ deck.get_absolute_url }}">
                        <span class="deck-control-icon" title="Открыть страницу с подробной информацией">
                            <i class="fas fa-external-link-alt"></i>
                        </span>
                    </a></button>
                    <button type="button" class="deck-accordion">
                        <span class="deck-control-icon" title="Развернуть (смотреть карты)">
                            <i class="far fa-caret-square-down"></i>
                        </span>
                    </button>
                    <span class="mytooltip">
                      <button type="button" class="copy-deck" onmouseover="tooltipFunc()">
                        <span class="tooltiptext" id="copyTooltip">Copy to clipboard!</span>
                        <span class="deck-control-icon"><i class="far fa-copy"></i></span>
                      </button>
                    </span>
                    <span style="display: none;">{{ deck.string }}</span>
                </span>
            </td>
        </tr>
        </tbody>
        <tbody class="deck-cards deck-cards-collapsed">
        {% for card, number in deck.included_cards %}
        <tr class="{{ card|cclass }} {{ card|rar }}">
            <td class="deck-number-cell" style=""><a href="{{ card.get_absolute_url }}">{{ card.cost }}</a></td>
            <td class="deck-card-cell" style=""><a href="{{ card.get_absolute_url }}">{{ card.name }}</a></td>
            <td class="deck-number-cell" style=""><a href="{{ card.get_absolute_url }}">{{ number }}x</a></td>
        </tr>
        {% endfor %}
        </tbody>
        <tbody class="deck-footer {{ deck|dclass }}">
        <tr>
        {% with prices=deck.included_cards|craft_cost %}
            <td colspan="3">Крафт: {{ prices.0 }} | {{ prices.1 }} (gold)</td>
        {% endwith %}
        </tr>
        </tbody>
    </table>
    </div>
{% empty %}
    <p>No</p>
{% endfor %}
</div>

{% endblock %}



