{% extends "core/base.html" %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'core/js/multiclass.js' %}?v=1.0.7"></script>
    <script src="{% static 'core/js/clean_search.js' %}?v=1.0.1"></script>
{% endblock %}

{% block page_title %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block search %}
<form class="form-inline" method="get" id="searchForm">
    <div class="row">
        <div class="col">
            <label class="search-form-label">{{ form.name.label }}</label>
            <div class="form-search">{{ form.name }}</div>
        </div>
        <div class="col">
            <label class="search-form-label">{{ form.rarity.label }}</label>
            <div class="form-search">{{ form.rarity }}</div>
        </div>
        <div class="col">
            <label class="search-form-label">{{ form.collectible.label }}</label>
            <div class="form-search">{{ form.collectible }}</div>
        </div>
        <div class="col">
            <label class="search-form-label">{{ form.card_type.label }}</label>
            <div class="form-search">{{ form.card_type }}</div>
        </div>
        <div class="col">
            <label class="search-form-label">{{ form.tribe.label }}</label>
            <div class="form-search">{{ form.tribe }}</div>
        </div>
        <div class="col">
            <label class="search-form-label">{{ form.card_class.label }}</label>
            <div class="form-search">{{ form.card_class }}</div>
        </div>
        <div class="col">
            <label class="search-form-label">{{ form.card_set.label }}</label>
            <div class="form-search">{{ form.card_set }}</div>
        </div>
        <div class="col">
            <label class="search-form-label">{{ form.mechanic.label }}</label>
            <div class="form-search">{{ form.mechanic }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="form-button">
                <span class="button-icon"><i class="fas fa-search"></i></span>
                <span class="button-text">Поиск</span>
            </button>
        </div>
    </div>
</form>
{% endblock %}

{% block content %}
{% load custom_filters %}

{% if realcards %}
{% if not is_paginated %}   <!-- Подсчет результатов на единственной странице -->
    <div class="pagination">
        <span class="page-item disabled"><a class="page-link">Всего результатов: {{ realcards.count }}</a></span>
    </div>
    <hr>
{% endif %}
<div class="info-item">
<div class="table-wrapper">
<table class="tablelist" id="tRCL">
  <thead class="darktable">
    <tr>
      <th style="min-width: 30%;">Название</th>
      <th style="min-width: 15%;">Тип</th>
      <th style="min-width: 25%;">Класс</th>
      <th style="min-width: 35%;">Сет</th>
    </tr>
  </thead>
  <tbody>
  {% for card in realcards %}
  <tr class="{{ card|cclass }} {{ card|rar }} rartext clickable-row">
    <td class=""><a class="" href="{{ card.get_absolute_url }}" target="_blank" title="Детальное описание карты {{ card.name }}">{{ card }}</a></td>
    <td>{{ card.get_card_type_display }}</td>
    <td>{% for card_class in card.card_class.all %} {{ card_class }}{% if not forloop.last %} | {% endif %}{% endfor %}</td>
    <td>{{ card.card_set }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
</div>
{% else %}
<div class="center-wrapper">
    <div class="info-item">Не обнаружено ни одной карты...</div>
</div>
{% endif %}
{% endblock %}
