{% extends "core/base.html" %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'core/js/multiclass.js' %}?v=1.0.8"></script>
{% endblock %}

{% block content %}
{% load custom_filters %}
<div class="modulewrap {{ real_card|cclass }}">
<div class="module">
<div class="detailhead">
  <h1 class="d-inline-block">{{ real_card.name }}</h1>
  {% if real_card.collectible %}
    <span class="badge rounded-pill bg-success align-top">Коллекционная</span>
  {% elif real_card.battlegrounds %}
    <span class="badge rounded-pill bg-primary align-top">BattleGrounds</span>
  {% elif not real_card.collectible %}
    <span class="badge rounded-pill bg-warning align-top">Неколлекционная</span>
  {% endif %}
</div>

<table class="table table-bordered" id="tRCD">
  <tr>
    <td style="width:15%;"><strong>Класс</strong></td>
    <td style="width:85%;">{% for card_class in real_card.card_class.all %} {{ card_class }}{% if not forloop.last %} | {% endif %}{% endfor %}</td>
  </tr>
  {% if real_card.text %}
    <tr>
      <td><strong>Текст</strong></td>
      <td>{{ real_card.text|safe }}</td>
    </tr>
  {% endif %}
  {% if real_card.flavor %}
    <tr>
      <td><strong>Описание</strong></td>
      <td>{{ real_card.flavor|safe }}</td>
    </tr>
  {% endif %}
  <tr>
    <td><strong>Тип</strong></td>
    <td>{{ real_card.get_card_type_display }}</td>
  </tr>
  <tr>
    <td><strong>Сет</strong></td>
    <td>{{ real_card.card_set }}</td>
  </tr>
  <tr>
    <td><strong>Редкость</strong></td>
    <td>{{ real_card.get_rarity_display }}</td>
  </tr>
  {% if real_card.card_type == c_types.MINION %}
    <tr>
      <td><strong>Раса</strong></td>
      <td>{% for tribe in real_card.tribe.all %} {{ tribe }}{% if not forloop.last %} | {% endif %}{% endfor %}</td>
    </tr>
  {% endif %}
  {% if real_card.card_type == c_types.SPELL %}
    <tr>
      <td><strong>Тип заклинания</strong></td>
      <td>{{ real_card.get_spell_school_display }}</td>
    </tr>
  {% endif %}
  {% format_stats real_card %}
  {% if real_card.mechanics_list %}
    <tr>
      <td><strong>Механики</strong></td>
      <td>{% for mech in real_card.mechanics_list %}{{ mech }}{% if not forloop.last %} | {% endif %}{% endfor %}</td>
    </tr>
  {% endif %}
  {% if real_card.artist %}
    <tr>
      <td><strong>Художник</strong></td>
      <td>{{ real_card.artist }}</td>
    </tr>
  {% endif %}
</table>
{% if real_card.collectible %}
<div class="center-wrapper">
  <div class="info-item info-deck">
    <h4>Колоды с этой картой</h4>
    <ul>
      {% for inclusion in real_card.inclusion_set.nameless %}
        <li><a href="{{ inclusion.deck.get_absolute_url }}">{{ inclusion.deck }}</a></li>
      {% empty %}
        <li>В известных колодах карта не найдена.</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
</div>
</div>

{% endblock %}