
@media screen and (max-width: 600px) {
  .topmenu {
    position: static;
  }
  .topmenu a {
    float: none;
    width: 100%;
  }
  .common-form-item {
    max-width: 300px;
  }
  .common-form-field {
    max-height: 1000px;
    flex-direction: column;
  }
  .common-form-field button, .common-form-field a {margin: 2px 0;}
  .common-form-label {
    min-width: 0;
    margin: 0 0;
  }
  .form-button {
    margin-bottom: 2px;
  }
}

@media screen and (max-width: 1050px) {
  .decks-grid {
    grid-template-columns: auto;
  }
  table.deck {
    width: 300px;
    max-width: 300px;
  }
  .info-deck, .info-author {
    width: 300px;
    max-width: 300px;
  }
}

