:root {
  --dark: #333;
  --grey: #595959;
  --mage-1: #6699ff;
  --mage-2: #e6eeff;
  --priest-1: #ffffb3;
  --priest-2: #ffffff;
  --warlock-1: #4d004d;
  --warlock-2: #cc00cc;
  --druid-1: #33ff99;
  --druid-2: #b3ffd9;
  --rogue-1: #001d25;
  --rogue-2: #b3b3b3;
  --shaman-1: #000066;
  --shaman-2: #3333ff;
  --paladin-1: #ffff00;
  --paladin-2: #ffffe6;
  --warrior-1: #4d0000;
  --warrior-2: #ff0000;
  --hunter-1: #264d00;
  --hunter-2: #73e600;
  --demonhunter-1: #004d4d;
  --demonhunter-2: #00cccc;
  --neutral-1: #cccccc;
  --neutral-2: #f2f2f2;
  --deathknight-1: #1e1e2f;
  --deathknight-2: #7373a5;
  --dream-1: #cc33ff;
  --dream-2: #f9e6ff;
  --legendary: #ffdb4d;
  --epic: #db4dff;
  --rare: #668cff;
  --common: #ffffff;
  --standard: rgba(0, 102, 0, 0.6);
  --wild: rgba(38, 38, 38, 0.7);
  --classic: rgba(24, 24, 129, 0.6);
  --deck-width: 400px;
}

html, body {
	font-family: "Consolas";
    background-color: #d3d3d3;
	color: var(--dark);
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;

	scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

textarea.no-resize {
  resize: none;
}

hr {
  color: #ffffff;
}

h1 {
  margin-top: 10px;
  color: #ffffff;
  text-align: center;
  text-shadow: -2px -2px 2px #000, 1px -2px 2px #000, -2px 1px 2px #000, 1px 1px 2px #000;
}
h1:hover {
  color: var(--dark);
}
.detailhead {
  text-align: center;
  padding: px;
}

#footer {
  background-color: var(--dark);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  text-align: right;
  height: auto;
  box-shadow: 0 50vh 6px 50vh var(--dark);
}

/* Гиперссылки */
a:link, a:visited {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}
a:hover, a:active {
  color: tomato;
  background-color: transparent;
  text-decoration: none;
}

/* Верхнее меню */
.topmenu {
  overflow: hidden;
  background-color: var(--dark);
  position: sticky;
  z-index: 4;
  top: 0;
  width: 100%;
  border: 2px solid var(--dark);
}
.topmenu a {
  float: left;
  overflow: hidden;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 20px;
  width: 20%;
}
.topmenu a:hover {
  background: #d3d3d3;
  color: black;
}
.topmenu a.logbar {float: right;}
.topmenu a.logbar-in {color: #00b300;}
.topmenu a.logbar-out {color: #e60000;}
.topmenu a.logbar-out:hover {color: #00b300;}
#logout:hover {color: #e60000;}

/* Боковое меню */
.sidemenu {
  overflow: hidden;
  background-color: var(--dark);
  color: #f2f2f2;
  position: sticky;
  z-index: 3;
  top: 46.5px;
  width: 100%;
  border: 2px solid var(--dark);
  margin-top: 3px;
  margin-bottom: 20px;
}
.sidemenu a {
  display: block;
  color: #f2f2f2;
  padding: 8px 8px;
  text-decoration: none;
}
.sidemenu a:hover {
  background: #d3d3d3;
  color: black;
  border-radius: 5px;
}
a.sub {
  background: #595959;
  padding-left: 20px;
}
a.sub:hover {border-radius: 0;}

#form-i18n select {
  background-color: var(--dark);
  padding: 8px 5px;
  color: white;
  border: inherit;
  width: 100%;
}
#form-i18n select:hover, #form-i18n select:focus {
  color: black;
  background-color: #d3d3d3;
  border: inherit;
  border-radius: 5px;
  outline: none;
}

/* ------------------------------------------------------------------------------------- */
/* изменения в Bootstrap Accordion */
.accordion-item {
  margin: 0;
  border: none;
}
.accordion-item .accordion-header button {
  background-color: var(--dark);
  color: #f2f2f2;
  padding: 8px 8px;
  box-shadow: none;
}
.accordion-item .accordion-header button span {padding: 3px 0;}

/* цвет .svg стрелки на кнопке аккордиона */
.accordion-item .accordion-header .accordion-button::after {background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");}
.accordion-item .accordion-header .accordion-button:hover::after {background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");}
.accordion-button.collapsed::after {background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");}
.accordion-button.collapsed:hover::after {background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");}

.accordion-body {padding: 0;}
.accordion-item .accordion-header button:hover {
  background: #d3d3d3;
  color: black;
  transition: none;
}
.accordion-body a {
  display: block;
  color: #f2f2f2;
  padding: 8px 8px;
  text-decoration: none;
}
.accordion-body a:hover {
  background: #d3d3d3;
  color: black;
}
/* ------------------------------------------------------------------------------------- */

/* Таблицы со списками */
.tablelist {width: 100%;}
.tablelist td {border-bottom: 1px solid #ffffff;}
.clickable-row {
  overflow: hidden;
  width: 100%;
}
.clickable-row a, .clickable-row span {
  display: block;
  padding: 8px;
  text-decoration: none;
}
thead.darktable {
  background-color: var(--dark);
  color: white;
}
thead.darktable th {padding: 8px;}

/* Центрирование баннера */
.banner {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  margin-top: 3.5px;
  margin-bottom: 10px;
}
/* Пагинация */
.pagination span.active a.page-link {
  background-color: var(--dark);
  color: white;
  border-color: #ffffff;
}
.pagination span.active a.page-link:hover {color: #ffffff;}
.pagination span:hover a.page-link {
  color: var(--dark);
}
.pagination span a.page-link {box-shadow: none;}

/* Формы */
.form-input {
    width: 300px;
    font-size: 16px;
}
.form-search {
    width: 250px;
    font-size: 18px;
}
.form-label {
    padding-left: 3px;
    margin-right: 3px;
}
.form-error ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: tomato;
}
.form-button {
  min-width: 200px;
  font-size: 16px;
  text-align: center;
  padding: 5px 5px;
  background: transparent;
  color: var(--dark);
  border: 2px solid var(--dark);
  border-radius: 5px;
}
.form-button:hover {
  background-color: var(--dark);
  color: white;
  transition: background-color 0.4s, color 0.4s;
}
.form-button:active {
  background-color: var(--grey);
}
.form-mod {
  padding: 0px;
  margin-bottom: 8px;
  margin-top: 5px;
}
.form-deckstring {
  width: 100%;
  font-size: 16px;
  margin: 8px 0;
  padding: 5px 5px;
  border: 2px solid var(--dark);
  border-radius: 5px;
}
.form-deckstring:focus {
  outline: 1px solid var(--dark);
  box-shadow: 2px 2px 5px 0 var(--dark);
}

.mytooltip {
  position: relative;
  display: inline-block;
}

.mytooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 5px 10px;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  z-index: 3;
  bottom: -10%;
  left: 105%;
  opacity: 0;
  transition: opacity 0.3s;
}

.mytooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

.mytooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* ------------------ Колода --------------------- */
table.deck {
  border-collapse: separate;
  /*border-collapse: collapse;*/
  border-spacing: 0 0;
  position: relative;
  z-index: 1;
  width: var(--deck-width);
  max-width: var(--deck-width);
}

table.standard::before {
  content: "";
  border-radius: 20px;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  box-shadow: 5px 0 25px 5px var(--standard), -5px 0 25px 5px var(--standard);
}
table.wild::before {
  content: "";
  border-radius: 20px;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  box-shadow: 5px 0 25px 5px var(--wild), -5px 0 25px 5px var(--wild);
}
table.classic::before {
  content: "";
  border-radius: 20px;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  box-shadow: 5px 0 25px 5px var(--classic), -5px 0 25px 5px var(--classic);
}
table.unknown::before {
  content: "";
  border-radius: 20px;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  box-shadow: 5px 0 25px 5px rgba(0, 0, 0, 0.5), -5px 0 25px 5px rgba(0, 0, 0, 0.5);
}
table.deck td {
  border: 1px solid #999999;
  letter-spacing: 1px;
}
table.deck td a {
  display: block;
}
table.deck td a:hover {
}

/* Шапка колоды */
.deck-header {

}
/* Шапка */
.deck-header td.deck-name {
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: center;
}
.deck-header td.deck-name::before {
  content: "";
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.deck-name-text {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 4px;
}
.deck-caption {
  font-size: 14px;
}
/* Управляющие кнопки */
td.deck-control .disabled {
  cursor: not-allowed;
}
td.deck-control span {
  display: flex;
  width: 100%;
}
td.deck-control * {
  flex: 1;
  border: none;
  color: inherit;
  background: transparent;
}
.deck-control button:hover, .deck-control input:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
.deck-control-icon {
  font-size: 24px;
}

/* Карты колоды */
.deck-cards {
}
.deck-cards td.deck-number-cell {
  text-align: center;
  width: calc(var(--deck-width) * 0.1);
}
.deck-cards td.deck-card-cell {
  padding-left: 5px;
  width: calc(var(--deck-width) * 0.8);
}
.deck-cards-collapsed {
  max-height: 0;
  display: block;
  overflow-y: hidden;
  transition: max-height 1s ease-out;
}

/* Footer */
.deck-footer td {
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.deck-footer:hover {
}

/* Список колод */
.decks-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 50px;
  padding: 35px 0;
  justify-content: space-around;
  overflow: hidden;
}

.deck-accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  border: none;
  outline: none;
}

.deck-info-item {
  width: var(--deck-width);
  padding: 20px 20px;
  margin-bottom: 35px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: 0.3s;
}
.deck-info-item:hover {box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);}

/* ------- Оформление классов Hearthstone ------- */
/* Detail */
.module {
  padding: 6px;
  background-color: #d3d3d3;
  border: 1px solid black;
}
.module-wrap {
  margin-top: 3.5px;
  padding: 8px;
  border: 1px solid black;
}
.module-wrap-mage {background: linear-gradient(305deg, var(--mage-1), var(--mage-2), var(--mage-1));}
.module-wrap-priest {background: linear-gradient(305deg, var(--priest-1), var(--priest-2), var(--priest-1));}
.module-wrap-warlock {background: linear-gradient(305deg, var(--warlock-1), var(--warlock-2), var(--warlock-1));}
.module-wrap-druid {background: linear-gradient(305deg, var(--druid-1), var(--druid-2), var(--druid-1));}
.module-wrap-rogue {background: linear-gradient(305deg, var(--rogue-1), var(--rogue-2), var(--rogue-1));}
.module-wrap-shaman {background: linear-gradient(305deg, var(--shaman-1), var(--shaman-2), var(--shaman-1));}
.module-wrap-paladin {background: linear-gradient(305deg, var(--paladin-1), var(--paladin-2), var(--paladin-1));}
.module-wrap-warrior {background: linear-gradient(305deg, var(--warrior-1), var(--warrior-2), var(--warrior-1));}
.module-wrap-hunter {background: linear-gradient(305deg, var(--hunter-1), var(--hunter-2), var(--hunter-1));}
.module-wrap-demonhunter {background: linear-gradient(305deg, var(--demonhunter-1), var(--demonhunter-2), var(--demonhunter-1));}
.module-wrap-neutral {background: linear-gradient(305deg, var(--neutral-1), var(--neutral-2), var(--neutral-1));}
.module-wrap-deathknight {background: linear-gradient(305deg, var(--deathknight-1), var(--deathknight-2), var(--deathknight-1));}
.module-wrap-dream {background: linear-gradient(305deg, var(--dream-1), var(--dream-2), var(--dream-1));}
.module-wrap-multiclass {background: linear-gradient(305deg, #cc0000, #ffff00, #0033cc);}

/* List */
.td-bordered:hover td, .td-bordered-deck:hover td {
  box-shadow: 0 0 0 1px var(--dark);
}
.mage:hover, .mage-deck:hover {
  background: linear-gradient(305deg, var(--mage-1), var(--mage-2), var(--mage-1));
  color: #000000;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.mage a:hover, .mage-deck a:hover {color: #000000;}
.mage-deck {
  background-color: var(--mage-1);
  color: black;
}

.priest:hover, .priest-deck:hover {
  background: linear-gradient(305deg, var(--priest-1), var(--priest-2), var(--priest-1));
  color: #000000;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.priest a:hover, .priest-deck a:hover {color: #000000;}
.priest-deck {
  background-color: var(--priest-1);
  color: black;
}

.warlock:hover, .warlock-deck:hover {
  background: linear-gradient(305deg, var(--warlock-1), var(--warlock-2), var(--warlock-1));
  color: #ffffff;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.warlock a:hover, .warlock-deck a:hover {color: #ffffff}
.warlock-deck {
  background-color: var(--warlock-1);
  color: white;
}

.druid:hover, .druid-deck:hover {
  background: linear-gradient(305deg, var(--druid-1), var(--druid-2), var(--druid-1));
  color: #000000;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.druid a:hover, .druid-deck a:hover {color: #000000;}
.druid-deck {
  background-color: var(--druid-1);
  color: black;
}

.shaman:hover, .shaman-deck:hover {
  background: linear-gradient(305deg, var(--shaman-1), var(--shaman-2), var(--shaman-1));
  color: #ffffff;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.shaman a:hover, .shaman-deck a:hover {color: #ffffff;}
.shaman-deck {
  background-color: var(--shaman-1);
  color: white;
}

.rogue:hover, .rogue-deck:hover {
  background: linear-gradient(305deg, var(--rogue-1), var(--rogue-2), var(--rogue-1));
  color: #ffffff;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.rogue a:hover, .rogue-deck a:hover {color: #ffffff;}
.rogue-deck {
  background-color: var(--rogue-1);
  color: white;
}

.paladin:hover, .paladin-deck:hover {
  background: linear-gradient(305deg, var(--paladin-1), var(--paladin-2), var(--paladin-1));
  color: #000000;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.paladin a:hover, .paladin-deck a:hover {color: #000000;}
.paladin-deck {
  background-color: var(--paladin-1);
  color: black;
}

.warrior:hover, .warrior-deck:hover {
  background: linear-gradient(305deg, var(--warrior-1), var(--warrior-2), var(--warrior-1));
  color: #ffffff;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.warrior a:hover, .warrior-deck a:hover {color: #ffffff;}
.warrior-deck {
  background-color: var(--warrior-1);
  color: white;
}

.hunter:hover, .hunter-deck:hover {
  background: linear-gradient(305deg, var(--hunter-1), var(--hunter-2), var(--hunter-1));
  color: #ffffff;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.hunter a:hover, .hunter-deck a:hover {color: #ffffff}
.hunter-deck {
  background-color: var(--hunter-1);
  color: white;
}

.demonhunter:hover, .demonhunter-deck:hover {
  background: linear-gradient(305deg, var(--demonhunter-1), var(--demonhunter-2), var(--demonhunter-1));
  color: #ffffff;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.demonhunter a:hover, .demonhunter-deck a:hover {color: #ffffff;}
.demonhunter-deck {
  background-color: var(--demonhunter-1);
  color: white;
}

.neutral:hover, .neutral-deck:hover {
  background: linear-gradient(305deg, var(--neutral-1), var(--neutral-2), var(--neutral-1));
  color: #000000;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.neutral a:hover, .neutral-deck a:hover {color: #000000;}
.neutral-deck {background-color: var(--neutral-1);}

.dream:hover {
  background: linear-gradient(305deg, var(--dream-1), var(--dream-2), var(--dream-1));
  color: #000000;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.dream a:hover {color: #000000;}

.deathknight:hover {
  background: linear-gradient(305deg, var(--deathknight-1), var(--deathknight-2), var(--deathknight-1));
  color: #ffffff;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.deathknight a:hover {color: #ffffff;}

.multiclass:hover, .multiclass-deck:hover {
  background: linear-gradient(305deg, #cc0000, #ffff00, #0033cc);
  color: #ffffff;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.multiclass a:hover, .multiclass-deck a:hover {color: #ffffff;}
.multiclass-deck {background: linear-gradient(305deg, #cc0000, #ffff00, #0033cc);}
/*.multiclass-deck {background-color: #cc33ff;}*/

/* -------------------------------------------------- */


/* Оформление редкостей */
.legendary:hover, .legendary:hover a {
  color: var(--legendary);
  letter-spacing: 1px;
  text-shadow: -1px -1px 0 #737373, 1px -1px 0 #737373, -1px 1px 0 #737373, 1px 1px 0 #737373;
}
.legendary-deck, .legendary-deck a, .legendary-deck:hover a {
  color: var(--legendary);
  text-shadow: -1px -1px 0 #737373, 1px -1px 0 #737373, -1px 1px 0 #737373, 1px 1px 0 #737373;
}
.epic:hover, .epic:hover a {
  color: var(--epic);
  letter-spacing: 1px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.epic-deck, .epic-deck a, .epic-deck:hover a {
  color: var(--epic);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.rare:hover, .rare:hover a {
  color: var(--rare);
  letter-spacing: 1px;
  text-shadow: -1px -1px 0 #737373, 1px -1px 0 #737373, -1px 1px 0 #737373, 1px 1px 0 #737373;
}
.rare-deck, .rare-deck a, .rare-deck:hover a {
  color: var(--rare);
  text-shadow: -1px -1px 0 #737373, 1px -1px 0 #737373, -1px 1px 0 #737373, 1px 1px 0 #737373;
}
.common:hover, .common:hover a {
  color: var(--common);
  letter-spacing: 1px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.common-deck, .common-deck a, .common-deck:hover a {
  color: var(--common);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Анимация градиента */
@-webkit-keyframes CardLink {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes CardLink {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes CardLink {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes CardLink {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* Псевдоэлементы */
::selection {               /* Выделение текста */
  color: white;
  background: var(--dark);
}


