html, body {
	font-family: "Consolas";
    background-color: #d3d3d3;
	color: #262626;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;

	scroll-behavior: smooth;
}

textarea.no-resize {
  resize: none;
}

hr {
  color: #ffffff;
}

h1 {
  margin-top: 10px;
  color: #ffffff;
  text-align: center;
  text-shadow: -2px -2px 2px #000, 1px -2px 2px #000, -2px 1px 2px #000, 1px 1px 2px #000;
}
h1:hover {
  color: #333;
}
.detailhead {
  text-align: center;
  padding: px;
}

#footer {
  background-color: #333;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  text-align: right;
  height: auto;
  box-shadow: 0 50vh 6px 50vh #333;
}

/* Гиперссылки */
a:link, a:visited {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}
a:hover, a:active {
  color: tomato;
  background-color: transparent;
  text-decoration: none;
}

/* Верхнее меню */
.topmenu {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  z-index: 4;
  top: 0;
  width: 100%;
  border: 2px solid #333;
}
.topmenu a {
  float: left;
  overflow: hidden;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 20px;
  width: 20%;
}
.topmenu a:hover {
  background: #d3d3d3;
  color: black;
}
.topmenu a.logbar {float: right;}
.topmenu a.logbar-in {color: #00b300;}
.topmenu a.logbar-out {color: #e60000;}
.topmenu a.logbar-out:hover {color: #00b300;}
#logout:hover {color: #e60000;}

/* Боковое меню */
.sidemenu {
  overflow: hidden;
  background-color: #333;
  color: #f2f2f2;
  position: sticky;
  z-index: 3;
  top: 46.5px;
  width: 100%;
  border: 2px solid #333;
  margin-top: 3px;
  margin-bottom: 20px;
}
.sidemenu a {
  display: block;
  color: #f2f2f2;
  padding: 8px 8px;
  text-decoration: none;
}
.sidemenu a:hover {
  background: #d3d3d3;
  color: black;
}
a.sub {
  background: #595959;
  padding-left: 20px;
}
#form-i18n select {
  background-color: #333;
  padding: 8px 5px;
  color: white;
  border: none;
  width: 100%;
}
#form-i18n select:hover {
  color: black;
  background-color: #d3d3d3;
}

/* ------------------------------------------------------------------------------------- */
/* изменения в Bootstrap Accordion */
.accordion-item {
  margin: 0;
  border: none;
}
.accordion-item .accordion-header button {
  background-color: #333;
  color: #f2f2f2;
  padding: 8px 8px;
  box-shadow: none;
}
.accordion-item .accordion-header button span {padding: 3px 0;}

/* цвет .svg стрелки на кнопке аккордиона */
.accordion-item .accordion-header .accordion-button::after {background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");}
.accordion-item .accordion-header .accordion-button:hover::after {background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");}
.accordion-button.collapsed::after {background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");}
.accordion-button.collapsed:hover::after {background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");}

.accordion-body {padding: 0;}
.accordion-item .accordion-header button:hover {
  background: #d3d3d3;
  color: black;
  border: none;
}
.accordion-body a {
  display: block;
  color: #f2f2f2;
  padding: 8px 8px;
  text-decoration: none;
}
.accordion-body a:hover {
  background: #d3d3d3;
  color: black;
}
/* ------------------------------------------------------------------------------------- */

/* Таблицы со списками */
.tablelist {width: 100%;}
.tablelist td {border-bottom: 1px solid #ffffff;}
.clickable-row {
  overflow: hidden;
  width: 100%;
}
.clickable-row a, .clickable-row span {
  display: block;
  padding: 8px;
  text-decoration: none;
}
thead.darktable {
  background-color: #333;
  color: white;
}
thead.darktable th {padding: 8px;}

/* Колода */
table.deck {
  border: 1px solid #333;
  border-collapse: collapse;
  width: 100%;
}
table.deck tr {
  border: 1px solid #333;
}
table.deck td {
  border: 1px solid #333;
  letter-spacing: 1px;
}
table.deck td a {
  display: block;
}
table.deck td a:hover {
}
td.deck-number-cell {
  text-align: center;
}
td.deck-card-cell {
  padding-left: 5px;
}


/* Центрирование баннера */
.banner {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  margin-top: 3.5px;
  margin-bottom: 10px;
}
/* Пагинация */
.pagination span.active a.page-link {
  background-color: #333;
  color: white;
  border-color: #ffffff;
}
.pagination span.active a.page-link:hover {color: #ffffff;}
.pagination span:hover a.page-link {
  color: #333;
}
.pagination span a.page-link {box-shadow: none;}

/* Формы */
.form-input {
    width: 300px;
    font-size: 16px;
}
.form-search {
    width: 250px;
    font-size: 18px;
}
.form-label {
    padding-left: 3px;
    margin-right: 3px;
}
.form-error ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: tomato;
}
.form-button {
    min-width: 200px;
    font-size: 16px;
}
.form-mod {
  padding: 0px;
  margin-bottom: 8px;
  margin-top: 5px;
}
.form-deckstring {
  width: 100%;
}

/* ------- Оформление классов Hearthstone ------- */
/* Detail */
.module {
  padding: 6px;
  background-color: #d3d3d3;
  border: 1px solid black;
}
.module-wrap {
  margin-top: 3.5px;
  padding: 8px;
  border: 1px solid black;
}
.module-wrap-mage {background: linear-gradient(305deg, #6699ff, #e6eeff, #6699ff);}
.module-wrap-priest {background: linear-gradient(305deg, #ffffb3, #ffffff, #ffffb3);}
.module-wrap-warlock {background: linear-gradient(305deg, #4d004d, #cc00cc, #4d004d);}
.module-wrap-druid {background: linear-gradient(305deg, #33ff99, #b3ffd9, #33ff99);}
.module-wrap-rogue {background: linear-gradient(305deg, #001d25, #b3b3b3, #001d25);}
.module-wrap-shaman {background: linear-gradient(305deg, #000066, #3333ff, #000066);}
.module-wrap-paladin {background: linear-gradient(305deg, #ffff00, #ffffe6, #ffff00);}
.module-wrap-warrior {background: linear-gradient(305deg, #4d0000, #ff0000, #4d0000);}
.module-wrap-hunter {background: linear-gradient(305deg, #264d00, #73e600, #264d00);}
.module-wrap-demonhunter {background: linear-gradient(305deg, #004d4d, #00cccc, #004d4d);}
.module-wrap-neutral {background: linear-gradient(305deg, #b3b3b3, #f2f2f2, #b3b3b3);}
.module-wrap-deathknight {background: linear-gradient(305deg, #1e1e2f, #7373a5, #1e1e2f);}
.module-wrap-dream {background: linear-gradient(305deg, #cc33ff, #f9e6ff, #cc33ff);}
.module-wrap-multiclass {background: linear-gradient(305deg, #cc0000, #ffff00, #0033cc);}

/* List */
.mage:hover, .mage-deck:hover {
  box-shadow: 0 0 0 1px #262626;
  background: linear-gradient(305deg, #6699ff, #e6eeff, #6699ff);
  color: #000000;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.mage a:hover, .mage-deck a:hover {color: #000000;}
.mage-deck {background-color: #6699ff;}

.priest:hover, .priest-deck:hover {
  box-shadow: 0 0 0 1px #262626;
  background: linear-gradient(305deg, #ffffb3, #ffffff, #ffffb3);
  color: #000000;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.priest a:hover, .priest-deck a:hover {color: #000000;}
.priest-deck {background-color: #ffffb3;}

.warlock:hover, .warlock-deck:hover {
  box-shadow: 0 0 0 1px #262626;
  background: linear-gradient(305deg, #4d004d, #cc00cc, #4d004d);
  color: #ffffff;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.warlock a:hover, .warlock-deck a:hover {color: #ffffff}
.warlock-deck {background-color: #4d004d;}

.druid:hover, .druid-deck:hover {
  box-shadow: 0 0 0 1px #262626;
  background: linear-gradient(305deg, #33ff99, #b3ffd9, #33ff99);
  color: #000000;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.druid a:hover, .druid-deck a:hover {color: #000000;}
.druid-deck {background-color: #33ff99;}

.shaman:hover, .shaman-deck:hover {
  box-shadow: 0 0 0 1px #262626;
  background: linear-gradient(305deg, #000066, #3333ff, #000066);
  color: #ffffff;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.shaman a:hover, .shaman-deck a:hover {color: #ffffff;}
.shaman-deck {background-color: #000066;}

.rogue:hover, .rogue-deck:hover {
  box-shadow: 0 0 0 1px #262626;
  background: linear-gradient(305deg, #001d25, #b3b3b3, #001d25);
  color: #ffffff;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.rogue a:hover, .rogue-deck a:hover {color: #ffffff;}
.rogue-deck {background-color: #001d25;}

.paladin:hover, .paladin-deck:hover {
  box-shadow: 0 0 0 1px #262626;
  background: linear-gradient(305deg, #ffff00, #ffffe6, #ffff00);
  color: #000000;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.paladin a:hover, .paladin-deck a:hover {color: #000000;}
.paladin-deck {background-color: #ffff00;}

.warrior:hover, .warrior-deck:hover {
  box-shadow: 0 0 0 1px #262626;
  background: linear-gradient(305deg, #4d0000, #ff0000, #4d0000);
  color: #ffffff;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.warrior a:hover, .warrior-deck a:hover {color: #ffffff;}
.warrior-deck {background-color: #4d0000;}

.hunter:hover, .hunter-deck:hover {
  box-shadow: 0 0 0 1px #262626;
  background: linear-gradient(305deg, #264d00, #73e600, #264d00);
  color: #ffffff;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.hunter a:hover, .hunter-deck a:hover {color: #ffffff}
.hunter-deck {background-color: #264d00;}

.demonhunter:hover, .demonhunter-deck:hover {
  box-shadow: 0 0 0 1px #262626;
  background: linear-gradient(305deg, #004d4d, #00cccc, #004d4d);
  color: #ffffff;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.demonhunter a:hover, .demonhunter-deck a:hover {color: #ffffff;}
.demonhunter-deck {background-color: #004d4d;}

.neutral:hover, .neutral-deck:hover {
  box-shadow: 0 0 0 1px #262626;
  background: linear-gradient(305deg, #b3b3b3, #f2f2f2, #b3b3b3);
  color: #000000;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.neutral a:hover, .neutral-deck a:hover {color: #000000;}
.neutral-deck {background-color: #b3b3b3;}

.dream:hover {
  box-shadow: 0 0 0 1px #262626;
  background: linear-gradient(305deg, #cc33ff, #f9e6ff, #cc33ff);
  color: #000000;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.dream a:hover {color: #000000;}

.deathknight:hover {
  box-shadow: 0 0 0 1px #262626;
  background: linear-gradient(305deg, #1e1e2f, #7373a5, #1e1e2f);
  color: #ffffff;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.deathknight a:hover {color: #ffffff;}

.multiclass:hover, .multiclass-deck:hover {
  box-shadow: 0 0 0 1px #262626;
  background: linear-gradient(305deg, #cc0000, #ffff00, #0033cc);
  color: #ffffff;
  background-size: 600% 600%;
  -webkit-animation: CardLink 4s ease infinite;
  -moz-animation: CardLink 4s ease infinite;
  animation: CardLink 4s ease infinite;
}
.multiclass a:hover, .multiclass-deck a:hover {color: #ffffff;}
.multiclass-deck {background: linear-gradient(305deg, #cc0000, #ffff00, #0033cc);}
/*.multiclass-deck {background-color: #cc33ff;}*/

/* -------------------------------------------------- */


/* Оформление редкостей */
.legendary:hover, .legendary:hover a {
  color: #ffdb4d;
  letter-spacing: 1px;
  text-shadow: -1px -1px 0 #737373, 1px -1px 0 #737373, -1px 1px 0 #737373, 1px 1px 0 #737373;
}
.legendary-deck, .legendary-deck a, .legendary-deck:hover a {
  color: #ffdb4d;
  text-shadow: -1px -1px 0 #737373, 1px -1px 0 #737373, -1px 1px 0 #737373, 1px 1px 0 #737373;
}
.epic:hover, .epic:hover a {
  color: #db4dff;
  letter-spacing: 1px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.epic-deck, .epic-deck a, .epic-deck:hover a {
  color: #db4dff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.rare:hover, .rare:hover a {
  color: #668cff;
  letter-spacing: 1px;
  text-shadow: -1px -1px 0 #737373, 1px -1px 0 #737373, -1px 1px 0 #737373, 1px 1px 0 #737373;
}
.rare-deck, .rare-deck a, .rare-deck:hover a {
  color: #668cff;
  text-shadow: -1px -1px 0 #737373, 1px -1px 0 #737373, -1px 1px 0 #737373, 1px 1px 0 #737373;
}
.common:hover, .common:hover a {
  color: #ffffff;
  letter-spacing: 1px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.common-deck, .common-deck a, .common-deck:hover a {
  color: #ffffff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Анимация градиента */
@-webkit-keyframes CardLink {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes CardLink {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes CardLink {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes CardLink {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* Псевдоэлементы */
::selection {               /* Выделение текста */
  color: white;
  background: #262626;
}


