{% extends "core/base.html" %}

{% block content %}
    {% if validlink %}
    <h1>{{ title }}</h1>
    <form action="" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div><label for="id_new_password1">Новый пароль:</label></div>
            <div class="form-mod">{{ form.new_password1 }}</div>
          </div>
          <div class="col-sm-3">
            <div><label for="id_new_password2">Еще раз:</label></div>
            <div class="form-mod">{{ form.new_password2 }}</div>
          </div>
          <div class="col-sm-6">
            <div class="form-error">{{ form.new_password1.errors }}</div>
            <div class="form-error">{{ form.new_password2.errors }}</div>
          </div>
        </div>
        <input type="submit" value="Изменить пароль" class="btn btn-outline-primary"/>
    </div>
    </form>
    {% else %}
    <h1>Сброс пароля ПРОВАЛЕН.</h1>
    <p>Ссылка сброса пароля невалидна. Вы можете попытаться запросить сброс еще раз.</p>
    {% endif %}
{% endblock %}
