{% extends "core/base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<div class="center-wrapper">
  <div class="info-item">
    <div class="centered">Пароль был успешно изменен.</div>
    <div class="common-form-item">
    <div class="common-form-field centered">
        <a role="button" href="{% url 'accounts:signin' %}" class="form-button form-button-green">
            <span class="button-icon"><i class="fas fa-sign-in-alt"></i></span>
            <span class="button-text">Войти снова</span>
        </a>
    </div>
    </div>
  </div>
</div>
{% endblock %}
