{% extends "core/base.html" %}
{% load custom_filters %}
{% block title %}{{ title|mktitle }}{% endblock %}
{% load i18n %}

{% block page_title %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block content %}

{% if not is_paginated %}
<div class="my-pagination">
<div class="my-pagination-block">
  <div class="my-pagination-item info">
    <div class="my-page-item disabled"><a>{% trans "Total authors" %}: {{ authors.count }}</a></div>
  </div>
</div>
</div>
{% endif %}

<div class="decks-grid">
    {% for author in authors %}
    <div class="info-item info-author" style="background: {{ author.user|style_group|get_item:'background' }}">
        <div><a class="author-link" href="{{ author.get_absolute_url }}">{{ author.user.username }} ({{ author.fancard_set.confirmed.count }})</a></div>
    </div>
    {% empty %}
    <div class="info-item info-deck">
        <div>{% trans "Nobody has created fan cards yet..." %}</div>
    </div>
    {% endfor %}
</div>

{% endblock %}
