{% extends "core/base.html" %}

{% block page_title %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
{% load custom_filters %}

{% if not is_paginated %}
<div class="pagination">
    <span class="page-item disabled"><a class="page-link">Всего авторов: {{ authors.count }}</a></span>
</div>
{% endif %}

<div class="decks-grid">
    {% for author in authors %}
    <div class="info-item info-author" style="background: {{ author.user|style_group|get_item:'background' }}">
        <div><a class="author-link" href="{{ author.get_absolute_url }}">{{ author.user.username }} ({{ author.fancard_set.confirmed.count }})</a></div>
    </div>
    {% empty %}
    <div class="info-item info-deck">
        <div>Никто пока не создавал фан-карт...</div>
    </div>
    {% endfor %}
</div>

{% endblock %}
