{% extends "core/base.html" %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'core/js/multiclass.js' %}?v=1.0.7"></script>
{% endblock %}

{% block content %}
{% load custom_filters %}
<hr>
<div class="detailhead">
  <h1 class="h1 d-inline-block">{{ author.user.get_username }}</h1>
  <span class="badge rounded-pill {{ author.user|verbose_group|get_item:'bg-color' }} align-top">{{ author.user|verbose_group|get_item:'group' }}</span>
  <p>{{ author.about }}</p>
</div>
<hr>
<p><i>Где-то здесь однажды будет и изображение (АВАТАР)</i></p>
<hr>

{% if author.fancard_set.all %}
  <h2>Созданные карты</h2>
  <p><i>Отображаются только карты, прошедшие премодерацию.</i></p>
  {% if not is_paginated %}
  <div class="pagination">
    <span class="page-item disabled"><a class="page-link">Всего результатов: {{ author.fancard_set.all.count }}</a></span>
  </div>
  <hr>
  {% endif %}
  <table class="tablelist" id="tRCL">
    <thead class="darktable">
      <tr>
        <th style="min-width: 30%;">Название</th>
        <th style="min-width: 15%;">Тип</th>
        <th style="min-width: 25%;">Класс</th>
        <th style="min-width: 35%;">Дата создания</th>
      </tr>
    </thead>
    <tbody>
    {% for card in author.fancard_set.all %}
      {% if card.state %}
      <tr class="{{ card|cclass }} {{ card|rar }} rartext clickable-row">
        <td><a class="" href="{{ card.get_absolute_url }}" target="_blank" title="Детальное описание карты {{ card.name }}">{{ card.name }}</a></td>
        <td><span>{{ card.get_card_type_display }}</span></td>
        <td><span>{% for card_class in card.card_class.all %} {{ card_class }}{% if not forloop.last %} | {% endif %}{% endfor %}</span></td>
        <td><span>{{ card.creation_date|date:"d.m.Y H:i:s" }}</span></td>
      </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>Автором пока не создано ни одной фан-карты</p>
  <hr>
{% endif %}
{% endblock %}