{% extends "core/base.html" %}

{% block page_title %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block content %}

    {% if authors %}
        {% if not is_paginated %}   <!-- Подсчет результатов на единственной странице -->
            <div class="pagination">
                <span class="page-item disabled"><a class="page-link">Всего авторов: {{ authors.count }}</a></span>
            </div>
            <hr>
        {% endif %}
    <table class="table table-striped" id="tAL">
      <thead class="table-dark">
        <tr>
          <th>Username</th>
          <th>Создано карт</th>
        </tr>
      </thead>
      <tbody>
      {% for author in authors %}
      <tr class="flex-fill position-relative hl-cell">
        <td><a class="stretched-link" href="{{ author.get_absolute_url }}" target="_blank">{{ author.user.username }}</a></td>
        <td>{{ author.fancard_set.all.count }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>Не зарегистрировано ни одного автора...</p>
    {% endif %}
{% endblock %}
