{% extends 'core/base.html' %}
{% load custom_filters %}
{% block title %}{{ title|mktitle }}{% endblock %}
{% load i18n %}
 
{% block content %}
<h1>{{ title }}</h1>
<div class="center-wrapper">
    <div class="info-item">
        <form action="{% url 'gallery:deletecard' card_slug=slug %}" method="post">
            {% csrf_token %}
            <div>{% trans "Are you sure you want to remove" %} "{{ name }}"?</div>
            <div class="centered">
                <button type="submit" class="form-button form-button-red">
                    <span class="button-icon"><i class="far fa-trash-alt"></i></span>
                    <span class="button-text">{% trans "Remove" %}</span>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}