{% extends 'core/base.html' %}
 
{% block content %}
<h1>{{ title }}</h1>
<div class="center-wrapper">
    <div class="info-item">
        <form action="{% url 'gallery:deletecard' card_slug=slug %}" method="post">
            {% csrf_token %}
            <div>Вы уверены, что хотите удалить карту "{{ name }}"?</div>
            <div class="centered">
                <button type="submit" class="form-button form-button-red">
                    <span class="button-icon"><i class="far fa-trash-alt"></i></span>
                    <span class="button-text">Delete</span>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}