{% extends "core/base.html" %}
{% load custom_filters %}
{% block title %}{{ title|mktitle }}{% endblock %}
{% load i18n %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'core/js/multiclass.js' %}?v=1.0.7"></script>
{% endblock %}

{% block page_title %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block search %}
<form method="get">
    <div class="row">
        <div class="col">
            <div>{{ form.name }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="form-button">
                <span class="button-icon"><i class="fas fa-search"></i></span>
                <span class="button-text">{% trans "Search" %}</span>
            </button>
        </div>
    </div>
</form>
{% endblock %}

{% block content %}
{% if fancards %}
    {% if not is_paginated %}
        <div class="my-pagination">
            <div class="my-pagination-block">
              <div class="my-pagination-item info">
                <div class="my-page-item disabled"><a>{% trans "Total results" %}: {{ fancards.count }}</a></div>
              </div>
            </div>
        </div>
    {% endif %}
<div class="info-item">
    <div class="table-wrapper">
    <table class="tablelist" id="tFCL">
      <thead class="darktable">
        <tr>
          <th style="min-width: 40%;">{% trans "Name" %}</th>
          <th style="min-width: 20%;">{% trans "Author" %}</th>
          <th style="min-width: 15%;">{% trans "Type" %}</th>
          <th style="min-width: 25%;">{% trans "Creation date" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for card in fancards %}
        <tr class="{{ card|cclass }} {{ card|rar }} rartext clickable-row">
            <td><a class="" href="{{ card.get_absolute_url }}" target="_blank">{{ card.name }}</a></td>
            <td><span>{{ card.author }}</span></td>
            <td><span>{{ card.get_card_type_display }}</span></td>
            <td><span>{{ card.creation_date|date:"d.m.Y" }}</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
</div>
{% else %}
<div class="center-wrapper">
    <div class="info-item">{% trans "No cards found..." %}</div>
</div>
{% endif %}
{% endblock %}
