{% extends "core/base.html" %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'core/js/multiclass.js' %}?v=1.0.7"></script>
{% endblock %}

{% block page_title %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block search %}
    <form class="form-inline" method="get">
        <div class="row">
            <div class="col">
                <label class="form-label">{{ form.name.label }}</label>
                <p class="form-input">{{ form.name }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-outline-dark">Поиск</button>
            </div>
        </div>
    </form>
    <hr>
{% endblock %}

{% block content %}
{% load custom_filters %}
{% if fancards %}
    {% if not is_paginated %}
        <div class="pagination">
            <span class="page-item disabled"><a class="page-link">Всего результатов: {{ fancards.count }}</a></span>
        </div>
        <hr>
    {% endif %}
    <table class="tablelist" id="tFCL">
      <thead class="darktable">
        <tr>
          <th style="width: 40%;">Название</th>
          <th style="width: 20%;">Автор</th>
          <th style="width: 15%;">Тип</th>
          <th style="width: 25%;">Дата создания</th>
        </tr>
      </thead>
      <tbody>
        {% for card in fancards %}
        <tr class="{{ card|cclass }} {{ card|rar }} rartext clickable-row">
            <td><a class="" href="{{ card.get_absolute_url }}" target="_blank">{{ card.name }}</a></td>
            <td><span>{{ card.author }}</span></td>
            <td><span>{{ card.get_card_type_display }}</span></td>
            <td><span>{{ card.creation_date|date:"d.m.Y H:i:s" }}</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% else %}
  <p>Не обнаружено ни одной карты...</p>
{% endif %}
{% endblock %}
