{% extends "core/base.html" %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'core/js/multiclass.js' %}?v=1.0.8"></script>
{% endblock %}

{% block content %}
{% load custom_filters %}
<div class="modulewrap {{ fan_card|cclass }}">
<div class="module">
<div class="detailhead">
  <h1 class="d-inline-block">{{ fan_card.name }}</h1>
  {% if request.user|can_change:fan_card %}
  <p>
    <span><a role="button" class="btn btn-sm btn-outline-primary" href="{{ fan_card.get_absolute_url }}/edit/">Редактировать</a></span>
    <span><a role="button" class="btn btn-sm btn-outline-danger" href="{{ fan_card.get_absolute_url }}/delete/">Удалить</a></span>
  </p>
  {% endif %}
</div>

<table class="table table-bordered" id="tFCD">
  <tbody>
  <tr>
    <td style="width:15%;"><strong>Автор</strong></td>
    <td style="width:85%;"><a href="{{ fan_card.author.get_absolute_url }}">{{ fan_card.author }}</a></td>
  </tr>
  <tr>
    <td><strong>Класс</strong></td>
    <td>{% for card_class in fan_card.card_class.all %} {{ card_class }}{% if not forloop.last %} | {% endif %}{% endfor %}</td>
  </tr>
  {% if fan_card.text %}
  <tr>
    <td><strong>Текст</strong></td>
    <td>{{ fan_card.text }}</td>
  </tr>
  {% endif %}
  {% if fan_card.flavor %}
  <tr>
    <td><strong>Описание</strong></td>
    <td>{{ fan_card.flavor }}</td>
  </tr>
  {% endif %}
  <tr>
    <td><strong>Тип</strong></td>
    <td>{{ fan_card.get_card_type_display }}</td>   <!-- если есть choises: get_FOO_display, где FOO = имя поля -->
  </tr>
  <tr>
    <td><strong>Редкость</strong></td>
    <td>{{ fan_card.get_rarity_display }}</td>
  </tr>
  {% if fan_card.card_type == c_types.MINION %}
  <tr>
    <td><strong>Раса</strong></td>
    <td>{% for tribe in fan_card.tribe.all %} {{ tribe }}{% if not forloop.last %} | {% endif %}{% endfor %}</td>
  </tr>
  {% endif %}
  {% if fan_card.card_type == c_types.SPELL %}
  <tr>
    <td><strong>Тип заклинания</strong></td>
    <td>{{ fan_card.get_spell_school_display }}</td>
  </tr>
  {% endif %}
  {% format_stats fan_card %}
  <tr>
    <td><strong>Дата создания</strong></td>
    <td>{{ fan_card.creation_date|date:"d.m.Y H:i:s" }}</td>
  </tr>
  </tbody>
</table>
</div>
</div>
{% endblock %}