{% extends "core/base.html" %}
{% load custom_filters %}
{% block title %}{{ title|mktitle }}{% endblock %}
{% load i18n %}

{% block content %}
<h1>{{ title }}</h1>
<div class="center-wrapper">
  <div class="info-item">
    <ul>
      <li>{% trans "Decks" %}
        <ul>
          <li><a href="{% url 'decks:index' %}">{% trans "Decoding Hearthstone Deck Codes" %}</a></li>
          <li><a href="{% url 'decks:all_decks' %}">{% trans "Deck storage" %}</a></li>
          <li><a href="{% url 'decks:user_decks' %}">{% trans "Personal deck storage" %}</a> (!)</li>
        </ul>
      </li>
      <li>{% trans "Cards" %}
        <ul>
          <li><a href="{% url 'gallery:realcards' %}">{% trans "Hearthstone card database" %}</a></li>
          <li><a href="{% url 'gallery:fancards' %}">{% trans "Fan cards created by site users" %}</a></li>
          <li><a href="{% url 'gallery:createcard' %}">{% trans "Creation of fan cards" %}</a> (!)</li>
        </ul>
      </li>
    </ul>
    <div class="note">
      <div><b>{% trans "All functionality is completely free." %}</b></div>
      <div>{% trans "To use the functions marked with" %} (!), <a href="{% url 'accounts:signup' %}">{% trans "registration is required" %}</a>.</div>
    </div>
  </div>
</div>
{% endblock %}
